.card {
  border: 1px solid #000;
  padding: 15px;
  border-radius: 5px;
  background-color: #cecece;
}

.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(1, 1fr);
}

.counter {
  border: 1px solid #000;
  padding: 15px;
  max-width: 300px;
  text-align: center;
}
.counterValue {
  font-size: 50px;
  margin: 0;
  margin-bottom: 0.2em;
  font-weight: bold;
}

.red {
  color: tomato;
}
.green {
  color: green;
}
